@page "/bubblesort"

<h1>Bubble Sort</h1>

<Styled @bind-Classname="@arrayBar">
    background-color: red;
    width: 32px;
    margin-left: 5px;
</Styled>


<div @onclick="Sort" class="d-flex flex-row">
@{
    
    foreach(int i in graph){
        barHeight = i.ToString()+"px";
        <Styled @bind-Classname="@poop">
        height: @barHeight;
        </Styled>
        <p class="@arrayBar @poop d-inline-block">@i</p>
    }
}
</div>


@code {
    private int[] graph = GraphCreator();
    
    private string barHeight;
    private string poop;
    private string arrayBar;
    private static int[] GraphCreator()
    {
        Random rand = new Random();
        int[] output = new int[10];
        for(int i=0; i<output.Length; i++){
            output[i] = rand.Next(5, 1000);
        }
        return output;
    }

    private void Sort(){
        int temp;
        int n = graph.Length;
        for(int i = 0; i<n-1; i++){
            if(graph[i] > graph[i+1]){
                temp = graph[i];
                graph[i] = graph[i+1];
                graph[i+1] = temp;
                i=-1;
            }
        }
        
    }
    
}